
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Design</title>
    <link rel="shortcut icon" type="image/x-icon" href="//g.alicdn.com/dingding/web/0.2.6/img/oldIcon.ico"/>
    <link rel="stylesheet" href="../workflow/css/design.css" />
</head>
<body>
    <div id="App"></div>
    <script>
      window.__corpId = "ding81905d303637580f35c2f4657eb6378f";
      window.__WPO = { 
        config: { 
            sample: 1, 
            spmId: 'dd.oa.approvaldesign',
            errMsgFilter: function (msg) {
                return (
                    /end of input/.test(msg) ||
                    /Cannot read property 'tagName' of null/.test(msg)
                );
            }
        }
      };
            window.__mainJsLoadOnerror = function(s){ window.__WPO.logJsLoadError({ fileName: s.getAttribute('src'), errMsg: 'js loadError', }); }
    </script>
    <script>window.dd_public_path="../workflow/js/"</script>
    <script type="text/javascript" id="beacon-aplus" src="../workflow/js/aplus_v2.js"></script>
    <script type="text/javascript" src="../workflow/js/dingRetcodeLog.js"></script>
    <script type="text/javascript" src="../workflow/js/lib.js"></script>
    <script type="text/javascript" src="../workflow/js/design.js"></script>
</body>
</html>